body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:yellowgreen;
  }
  canvas {
    width:98vmin;
    height:98vmin;
  }
  .heading{
      color: blue;
     
  }